.App {
  padding: 8px;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a,
.title {
  display: block;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

select,
input,
button {
  box-shadow: none;
  display: inline-block;
  padding: 8px;
  margin: 4px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 8px;
  height: 24px;
  line-height: 24px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
