.App {
  padding: 8px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[select] {
  background-color: green;
}

select,
input,
button {
  box-shadow: none;
  display: block;
  padding: 8px;
  margin: 4px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 8px;
  height: 24px;
  line-height: 24px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

a {
  display: block;
  max-width: 90vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
