.App {
  padding: 8px;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.results, .loading, .error {
  width: 480px;
}

.error {
  color: 'red'
}

.loading {
  color: 'orange'
}

select,
input,
button {
  box-shadow: none;
  display: block;
  padding: 8px;
  margin: 4px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 8px;
  height: 24px;
  line-height: 24px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

a {
  display: block;
  max-width: 480px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
